In [1]:
import os
import logging
import pandas
from datetime import datetime 

import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
import altair as alt
import plotly.graph_objects as go
import plotly.figure_factory as ff


import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import terms 
import Cities 
import functions
import time
from google.cloud import bigquery, storage
from google_pandas_load import Loader, LoaderQuickSetup
from google_pandas_load import LoadConfig

import chart_studio.plotly 
import plotly.graph_objects as go
import plotly
import pandas as pd

import pydeck as pdk
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)   

import string
import collections
 
from nltk import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from sklearn.cluster import KMeans, SpectralClustering
from sklearn.feature_extraction.text import TfidfVectorizer
from pprint import pprint

from scipy.spatial.distance import pdist
from sklearn.manifold.t_sne import _joint_probabilities
from scipy import linalg
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import squareform
from sklearn.manifold import TSNE
from matplotlib import pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize':(11.7,8.27)})
palette = sns.color_palette("bright", 10)
from sklearn import metrics
from sklearn.decomposition import PCA

In [2]:
import pickle

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()  # for plot styling
import numpy as np

from ipywidgets import interact
from sklearn.metrics import pairwise_distances_argmin
from sklearn.datasets.samples_generator import make_blobs

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score

In [5]:
from sklearn.datasets.samples_generator import (make_blobs,
                                                make_circles,
                                                make_moons)
from sklearn.cluster import KMeans, SpectralClustering
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_samples, silhouette_score

%matplotlib inline
sns.set_context('notebook')
plt.style.use('fivethirtyeight')
from warnings import filterwarnings
filterwarnings('ignore')

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()  # for plot styling
import numpy as np

from ipywidgets import interact
from sklearn.metrics import pairwise_distances_argmin
from sklearn.datasets.samples_generator import make_blobs

In [7]:
from gensim.models import Word2Vec

'pattern' package not found; tag filters are not available for English

In [8]:
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Input, Dense, LSTM, Embedding
from keras.layers import Dropout, Activation, Bidirectional, GlobalMaxPool1D
from keras.models import Model
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.preprocessing import text, sequence

Using TensorFlow backend.

In [56]:
def clean(raw):
    raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
#     raw = str(raw)
    return raw

def cleanC(raw):
#     raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    return raw

def C_plus(raw):
    Cplus = re.findall(r'(?i)\bC\+\+(?!\w)', str(raw))
    return Cplus

def C_sharp(raw):
    Csharp = re.findall(r'(?i)\bC\#(?!\w)', str(raw))
    return Csharp

In [10]:
data = pd.read_csv('total_data_date.csv')
data.head()

,title,company,location,description,date
0,Data Scientist,Esurance,"San Francisco, CA 94105",[ Summary Esurance is looking for a ...,12-01-2019
1,DATA SCIENTIST,Walmart,"Sunnyvale, CA 94087",[ Position Description Data Scientist i...,12-01-2019
2,Data Scientist,Kohl's,"Milpitas, CA 95035",[ Interpret and apply data analyses and expla...,12-01-2019
3,Staff Data Scientist (GEC11903),Walmart eCommerce,"Sunnyvale, CA 94087",[ Position Description Understands an...,12-01-2019
4,Sr. Data Scientist,Silicon Valley Bank,"Palo Alto, CA 94304",[ Silicon Valley Bank is the market lead...,12-01-2019

In [11]:
search_terms = terms.total_terms

In [12]:
search_terms

['AJAX',
 'ASP',
 'ASP.NET',
 'AWS',
 'Acrobat',
 'Airflow',
 'Alteryx',
 'Android',
 'Angular',
 'Ansible',
 'Apache',
 'Arduino',
 'Atom',
 'Azure',
 'BSD',
 'Bash',
 'BigQuery',
 'C#',
 'C++',
 'CSS',
 'Caffe',
 'Cassandra',
 'Chef',
 'Couchbase',
 'CryEngine',
 'D3',
 'Databricks',
 'Django',
 'Docker',
 'Drupal',
 'DynamoDB',
 'Elixir',
 'Excel',
 'Fastai',
 'Firebase',
 'Flask',
 'GCP',
 'Git',
 'Google Cloud',
 'HTML',
 'Hadoop',
 'Hbase',
 'Hive',
 'IBM',
 'IPython',
 'Illustrator',
 'InDesign',
 'IntelliJ',
 'Java',
 'Javascript',
 'Julia',
 'Jupyter',
 'Keras',
 'Komodo',
 'Kubernetes',
 'Laravel',
 'Linux',
 'MacOS',
 'MariaDB',
 'Matlab',
 'Microsoft',
 'MongoDB',
 'MySQL',
 'NET',
 'NLP',
 'NetBeans',
 'Netsuite',
 'NoSQL',
 'Node',
 'Notepad',
 'NumPy',
 'Objective C',
 'Oracle',
 'PHP',
 'PHPStorm',
 'PMP',
 'Pandas',
 'Perl',
 'Photoshop',
 'Pi',
 'Pig',
 'PostgreSQL',
 'PowerPoint',
 'PowerShell',
 'Project Management',
 'Puppet',
 'PyCharm',
 'PyTorch',
 'Python',
 'R',
 'Rails',
 'Raspberry',
 'React',
 'Ruby',
 'RubyMine',
 'SAP',
 'SAS',
 'SPSS',
 'SQL',
 'SQLite',
 'Salesforce',
 'Scala',
 'Scikit-learn',
 'Scrum',
 'Shell',
 'Spark',
 'Spring',
 'Sublime',
 'Swift',
 'Tableau',
 'TensorFlow',
 'TextMate',
 'Torch',
 'Unity',
 'Unreal Engine',
 'Visual Studio',
 'Vue',
 'Watson',
 'WebAssembly',
 'Windows',
 'WordPress',
 'XGBoost',
 'XML',
 'Xamarin',
 'Xcode',
 'Zend',
 'iOS',
 'jQuery',
 'mapreduce',
 'postgresql',
 'sklearn']

In [13]:
# option = 'Data Scientist'

In [14]:
# dtitle = data[data['title'].astype(str).str.contains(option)]

In [15]:
# text = dtitle.description

In [16]:
text = data[['title','description']]

In [17]:
text

,title,description
0,Data Scientist,[ Summary Esurance is looking for a ...
1,DATA SCIENTIST,[ Position Description Data Scientist i...
2,Data Scientist,[ Interpret and apply data analyses and expla...
3,Staff Data Scientist (GEC11903),[ Position Description Understands an...
4,Sr. Data Scientist,[ Silicon Valley Bank is the market lead...
...,...,...
18448,Senior Data Scientist,[ Description The Senior Data Scientist...
18449,Senior Data Scientist - Consumer Analytics (Ir...,[ Description The Senior Data Scientist...
18450,Data Scientist - Mid-Level,[ Data Scientists develop and apply methods ...
18451,Principal Data Scientist,[ What you’ll be doing... As a data sc...
18452,Data Scientist,[ What you’ll be doing... Be a part of...

In [18]:
# desc_cleaned = []
for word in text.description:
    cleaned = pd.Series(clean(word))
    text.description.append(cleaned)

In [19]:
text

,title,description
0,Data Scientist,[ Summary Esurance is looking for a ...
1,DATA SCIENTIST,[ Position Description Data Scientist i...
2,Data Scientist,[ Interpret and apply data analyses and expla...
3,Staff Data Scientist (GEC11903),[ Position Description Understands an...
4,Sr. Data Scientist,[ Silicon Valley Bank is the market lead...
...,...,...
18448,Senior Data Scientist,[ Description The Senior Data Scientist...
18449,Senior Data Scientist - Consumer Analytics (Ir...,[ Description The Senior Data Scientist...
18450,Data Scientist - Mid-Level,[ Data Scientists develop and apply methods ...
18451,Principal Data Scientist,[ What you’ll be doing... As a data sc...
18452,Data Scientist,[ What you’ll be doing... Be a part of...

In [20]:
from keras.models import Sequential, load_model
from keras.layers import Dense
from keras.callbacks import ModelCheckpoint
from keras.utils import to_categorical

In [21]:
# def tech_count(text):
#     tech_skills = []
#     List1 = [x.lower() for x in search_terms]
#     List2 = [x.lower() for x in text_clean]

#     for item in List2:
#         if item in List1:
#             tech_skills.append(item)
#         else:
#             None 
#     return tech_skills

In [22]:
text['description'] = [x.lower() for x in text['description']]

In [23]:
text

,title,description
0,Data Scientist,[ summary esurance is looking for a ...
1,DATA SCIENTIST,[ position description data scientist i...
2,Data Scientist,[ interpret and apply data analyses and expla...
3,Staff Data Scientist (GEC11903),[ position description understands an...
4,Sr. Data Scientist,[ silicon valley bank is the market lead...
...,...,...
18448,Senior Data Scientist,[ description the senior data scientist...
18449,Senior Data Scientist - Consumer Analytics (Ir...,[ description the senior data scientist...
18450,Data Scientist - Mid-Level,[ data scientists develop and apply methods ...
18451,Principal Data Scientist,[ what you’ll be doing... as a data sc...
18452,Data Scientist,[ what you’ll be doing... be a part of...

In [24]:
# List3 = []
# List2 = text['description']
# for item in List2.split():
#     List3.append(item)

In [25]:
# def dfcount(text):
#     tech_skills = []
#     List1 = [x.lower() for x in search_terms]
#     List2 = text['description']

#     for item in List2:
#         if item in List1:
#             tech_skills.append(item)
#         else:
#             None 
#     return tech_skills

In [26]:
new_text = text

In [27]:
new_text

,title,description
0,Data Scientist,[ summary esurance is looking for a ...
1,DATA SCIENTIST,[ position description data scientist i...
2,Data Scientist,[ interpret and apply data analyses and expla...
3,Staff Data Scientist (GEC11903),[ position description understands an...
4,Sr. Data Scientist,[ silicon valley bank is the market lead...
...,...,...
18448,Senior Data Scientist,[ description the senior data scientist...
18449,Senior Data Scientist - Consumer Analytics (Ir...,[ description the senior data scientist...
18450,Data Scientist - Mid-Level,[ data scientists develop and apply methods ...
18451,Principal Data Scientist,[ what you’ll be doing... as a data sc...
18452,Data Scientist,[ what you’ll be doing... be a part of...

In [28]:
def tech_count(desc):
    tech_skills = []
    List1 = [x.lower() for x in search_terms]
#     List2 = [x.lower() for x in text_clean]

#     for item in text['description']:
    for x in desc.split():
        if x in List1:
            tech_skills.append(x)
    else:
        pass 
    return tech_skills

In [29]:
tessy = []
for sent in new_text['description']:
    x = tech_count(sent)
    y = str(x)
    tessy.append(y)

In [30]:
ind = len(tessy)

In [31]:
hmmm = pd.DataFrame(tessy)

In [32]:
hmmm

                               0
0                     ['python']
1                             []
2                             []
3       ['gcp', 'nosql', 'ruby']
4      ['sql', 'julia', 'scala']
...                          ...
18448                         []
18449                      ['r']
18450                    ['sql']
18451                  ['linux']
18452     ['r', 'sql', 'oracle']

[18453 rows x 1 columns]

In [33]:
hope = pd.concat([new_text, hmmm], axis=1)

In [34]:
hope = hope.rename(columns={0:'skills'})

In [35]:
hope.head(50)

,title,description,skills
0,Data Scientist,[ summary esurance is looking for a ...,['python']
1,DATA SCIENTIST,[ position description data scientist i...,[]
2,Data Scientist,[ interpret and apply data analyses and expla...,[]
3,Staff Data Scientist (GEC11903),[ position description understands an...,"['gcp', 'nosql', 'ruby']"
4,Sr. Data Scientist,[ silicon valley bank is the market lead...,"['sql', 'julia', 'scala']"
5,Senior Data Scientist,[ about us on the off chance you've though...,"['sql', 'python']"
6,"Lead Data Scientist IV, Central Analytics",[ position overview as a data scientist...,[]
7,Data Scientist 1,[ minimum qualifications: bs/ba degree...,[]
8,Data Scientist,[ company information - alto neuroscience - ...,['python']
9,Data Scientist,[ seen by indeed is a free service that c...,[]
10,Data Scientist,[ a million people a year die in car colli...,"['python', 'jupyter', 'scikit-learn', 'pandas'..."
11,"Data Scientist w/ Anomaly detection, d3.js, R ...","[ job summary data scientist bay area, ca ...","['python', 'r', 'sql', 'spark', 'gcp']"
12,Data Scientist,[ we are looking for a data scientist to be...,"['python', 'tensorflow', 'hadoop', 'spark']"
13,Senior Data Scientist,[ small business success begins with bette...,[]
14,Principal Applied and Data Scientist,[ azure production infrastructure engineeri...,"['azure', 'azure', 'azure', 'azure', 'azure', ..."
15,"Data Scientist, WW Operations Finance","[ degree in data science, mathematics, stat...","['python', 'microsoft', 'excel']"
16,"Senior Data Scientist, WW Operations Finance","[ degree in data science, mathematics, stat...","['python', 'microsoft', 'excel']"
17,Data Scientist,"[ graduate degree in statistics, economics,...",['aws']
18,Data Scientist II,[ azure production infrastructure engineeri...,"['azure', 'microsoft', 'azure', 'azure', 'azur..."
19,Data Scientist - Demand Forecasting,"[ master/phd degree in machine learning, st...","['r', 'python', 'linux']"
20,Sr Data Scientist - Alexa Shopping,[ bachelor or master's degree in highly qu...,['sql']
21,Senior Data Scientist,[ csi analytics team in the cloud hardware ...,"['microsoft', 'azure', 'azure', 'microsoft', '..."
22,"Siri - Data Scientist, Data Organization","[ summary posted: dec 6, 2019 wee...",[]
23,Data Scientist,[ \n\n \n\n \n\t of this role incl...,"['python', 'sql', 'python', 'sql']"
24,Data Scientist,[ data scientist downtown seattle we’re ...,"['c++', 'bash', 'linux']"
25,Data Scientist / Data Analytics,"[ hi, hope you are doing well. **this is ...","['sql', 'sql', 'hive', 'sql', 'python']"
26,Data Scientist/Statistician - Growth,[ grade 24: sr growth analyst for ebay paid...,['sql']
27,Data Scientist/Machine Learning Engineer,[ we are looking for a sr data scientist to ...,[]
28,Senior Data Scientist,[ puget sound energy is looking to grow our...,"['nlp', 'nlp', 'python', 'tableau', 'aws', 'sap']"
29,Data Scientist 3 (AP1938),[ our client is an amazing company in bellev...,"['sql', 'r', 'python', 'r', 'microsoft']"
30,title,description,[]
31,Data Scientist,"[ about ancestry: when you join ancestry, y...","['nlp', 'nlp', 'python', 'r', 'java', 'spark']"
32,Data Scientist / Economist,[ looking for a company that inspires passi...,[]
33,Lead Data Scientist - Modeling,[ disney streaming services (dss) is creatin...,"['python', 'python']"
34,Data Scientist,[ data scientist - start up environment t...,"['sql', 'python']"
35,Lead Data Scientist,[ paypal’s global data sciences team is res...,"['nlp', 'sql', 'sas', 'nlp', 'scala', 'sql']"
36,Lead Data Scientist,[ *if you are interested in the position pl...,"['microsoft', 'ibm', 'sql', 'nosql', 'spss']"
37,Data Scientist - Lab Operations,[ 23andme is seeking a talented and driven da...,"['sql', 'oracle', 'r', 'git', 'java', 'html', ..."
38,Data Scientist,[ with more than 165 million active users g...,"['sql', 'tableau', 'hadoop', 'hadoop', 'tableau']"
39,Senior Data Scientist,[ our mission: as the world’s number 1 job...,"['spark', 'mongodb', 'c++']"
40,"Data Scientist I-III, Spatial Single-Cell RNA ...",[ overview cures start here. at fr...,[]
41,Senior Data Scientist II,[ if you have a deep passion for data and se...,"['spark', 'hadoop', 'javascript', 'sql']"
42,Lead Data Scientist - Experimentation,[ develop sampling and allocation methodol...,"['python', 'python']"
43,Associate Data Scientist,[ about gap inc. our past is full of ic...,"['spark', 'sql']"
44,Lead Data Scientist,[ if you are interested in the position plea...,"['microsoft', 'ibm', 'sql', 'nosql', 'spss']"
45,DATA SCIENTIST,[ position description data scientist i...,"['gcp', 'nosql', 'ruby']"
46,Senior Data Scientist,[ who we are: freedom financial network...,['python']
47,Senior Data Scientist,[ master’s degree or foreign equivalent in ...,"['sql', 'aws', 'aws', 'aws', 'aws', 'aws']"
48,Lead Data Scientist,[ conversica is the leader in conversationa...,"['tensorflow', 'nosql', 'dynamodb', 'scrum']"
49,Senior Database Engineer,[ about out-of-pocket healthcare cos...,"['react', 'sql', 'sql']"

In [36]:
hope2 = hope[['title','skills']]

In [37]:
hope2

,title,skills
0,Data Scientist,['python']
1,DATA SCIENTIST,[]
2,Data Scientist,[]
3,Staff Data Scientist (GEC11903),"['gcp', 'nosql', 'ruby']"
4,Sr. Data Scientist,"['sql', 'julia', 'scala']"
...,...,...
18448,Senior Data Scientist,[]
18449,Senior Data Scientist - Consumer Analytics (Ir...,['r']
18450,Data Scientist - Mid-Level,['sql']
18451,Principal Data Scientist,['linux']
18452,Data Scientist,"['r', 'sql', 'oracle']"

In [38]:
# tech_list = tech_count(text_clean)

In [39]:
# unique_data = []
# for i in range(len(data)):
#     if data['description'][i] not in unique_data:
#         unique_data.append(data['description'][i])
#         if i % 5000 == 0:
#             print('{0}'.format(i)+' lines have been processed')
#     else:
#         None

# def clean_text(text):
#     text = text.lower() #convert all the chracters into small letters
#     text = re.sub(r"i'm", "i am", text)
#     text = re.sub(r"he's", "he is", text)
#     text = re.sub(r"she's", "she is", text)
#     text = re.sub(r"that's", "that is", text)
#     text = re.sub(r"what's", "what is", text)
#     text = re.sub(r"where's", "where is", text)
#     text = re.sub(r"how's", "how is", text)
#     text = re.sub(r"\'ve", "have", text)
#     text = re.sub(r"\'ll", "will", text)
#     text = re.sub(r"\'re", "are", text)
#     text = re.sub(r"\'d", "would", text)
#     text = re.sub(r"n't", "not", text)
#     text = re.sub(r"won't", "will not", text)
#     text = re.sub(r"can't", "cannot", text)
#     text = re.sub(r"[-()\"#/@;:<>{}'+=|.!?,]", "", text)
#     text = text.replace("[", "")
#     text = text.replace("]", "")
#     return text

# unique_data_str = []
# for i in range(len(unique_data)):
#     if type(unique_data[i]) is str:
#         unique_data_str.append(unique_data[i])
#     else:
#         None

# # Cleaning the data
# clean_data = []
# for text in unique_data_str:
#     a = re.sub(r'[^a-zA-z ]+', '', text).strip()
#     if len(a)>0:
#         clean_data.append(clean_text(a))
#     else:
#         None

# # Removing the lines which are to short or to long
# short_data = []
# for line in clean_data:
#     if 2 <= len(line.split()):
#         short_data.append(line)
#     else:
#         None

# # Counting the appearnce of each word in the corpus also calculates the number of unique words also
# word2count = {}
# total_words = 0
# for text in clean_data:
#     for word in text.split():
#         if word not in word2count:
#             word2count[word] = 1
#         else:
#             word2count[word] += 1
#         total_words += 1
        
# # creating a list that will only contain the words that appear more than 15 times
# word10 = []
# threshold = 10
# for word, count in word2count.items():
#     if count >= threshold:
#         if len(word) > 1:
#             word10.append(word)
            
# # Removing the words from each string which appear less than 15 times
# data10 = []
# for line in short_data:
#     str1=''
#     for word in line.split():
#         if word in word10:
#             str1 = " ".join((str1, word))
#     data10.append(str1)

# # Removing the lines which are to short or to long after removing the unnecssary words.     
# short_data_consize = []
# for line in data10:
#     if 3 <= len(line.split()):
#         short_data_consize.append(line)
#     else:
#         None
        
# clean_unique_data = []
# for i in range(len(short_data_consize)):
#     if short_data_consize[i] not in clean_unique_data:
#         clean_unique_data.append(short_data_consize[i])
#     else:
#         None
        
# # # Total number of words in corpus after removing the words which appears less than 15 times and further cleaning
# total_words_d10 = 0
# for line in data10:
#     for word in line.split():
#         total_words_d10 += 1 
# # # """ Initially we had 437579 lines in our data after cleaning and preprocessing the data
# #     now our complete data will have 126003 lines, that means we removed 71.20% data which was useless"""

In [40]:
new_data = hope2

In [41]:
# stop = stopwords.words('english') + list(string.punctuation)
# stop += ["''", '""', '...', '``','--','and','a','an','of']

# new_data = []
# for word in str(data).split():
#     if word not in stop:
#         new_data.append(word)
        
# # data = data.map(word_tokenize).values
# # tokens = str(data).split()
# # stopwords_removed = [token for token in tokens if token not in stop]
# # stopwords_removed = [x for x in data if x not in stop]
# # data = data.apply(lambda x: [item for item in x if item not in stop])

In [42]:
len(new_data)

18453

In [43]:
new_data

,title,skills
0,Data Scientist,['python']
1,DATA SCIENTIST,[]
2,Data Scientist,[]
3,Staff Data Scientist (GEC11903),"['gcp', 'nosql', 'ruby']"
4,Sr. Data Scientist,"['sql', 'julia', 'scala']"
...,...,...
18448,Senior Data Scientist,[]
18449,Senior Data Scientist - Consumer Analytics (Ir...,['r']
18450,Data Scientist - Mid-Level,['sql']
18451,Principal Data Scientist,['linux']
18452,Data Scientist,"['r', 'sql', 'oracle']"

In [44]:
# clean_again = []
# for text in new_data:
#     a = re.sub(r'[^a-zA-z ]+', '', text).strip()
#     if len(a)>0:
#         clean_again.append(clean_text(a))
#     else:
#         pass

In [45]:
# len(clean_again)

In [49]:
data = new_data['skills']

In [50]:
# data = clean_again

In [51]:
# data = str(data).split()

In [59]:
data = clean(data)

In [60]:
train_len = 3+1
text_sequences = []
for i in range(train_len,len(data)):
    seq = data[i-train_len:i]
    text_sequences.append(seq)

sequences = {}
count = 1
for i in range(len(data)):
    if data[i] not in sequences:
        sequences[data[i]] = count
        count += 1

In [61]:
text_sequences

[['python', 'gcp', 'nosql', 'ruby'],
 ['gcp', 'nosql', 'ruby', 'sql'],
 ['nosql', 'ruby', 'sql', 'julia'],
 ['ruby', 'sql', 'julia', 'scala'],
 ['sql', 'julia', 'scala', 'sql'],
 ['julia', 'scala', 'sql', 'python'],
 ['scala', 'sql', 'python', 'python'],
 ['sql', 'python', 'python', 'python'],
 ['python', 'python', 'python', 'jupyter'],
 ['python', 'python', 'jupyter', 'scikit'],
 ['python', 'jupyter', 'scikit', 'learn'],
 ['jupyter', 'scikit', 'learn', 'pandas'],
 ['scikit', 'learn', 'pandas', 'numpy'],
 ['learn', 'pandas', 'numpy', 'pandas'],
 ['pandas', 'numpy', 'pandas', 'numpy'],
 ['numpy', 'pandas', 'numpy', 'sas'],
 ['pandas', 'numpy', 'sas', 'python'],
 ['numpy', 'sas', 'python', 'r'],
 ['sas', 'python', 'r', 'sql'],
 ['python', 'r', 'sql', 'spark'],
 ['r', 'sql', 'spark', 'gcp'],
 ['sql', 'spark', 'gcp', 'python'],
 ['spark', 'gcp', 'python', 'tensorflow'],
 ['gcp', 'python', 'tensorflow', 'hadoop'],
 ['python', 'tensorflow', 'hadoop', 'spark'],
 ['tensorflow', 'hadoop', 'spark', 'azure'],
 ['hadoop', 'spark', 'azure', 'azure'],
 ['spark', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'microsoft'],
 ['azure', 'azure', 'microsoft', 'microsoft'],
 ['azure', 'microsoft', 'microsoft', 'azure'],
 ['microsoft', 'microsoft', 'azure', 'azure'],
 ['microsoft', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'microsoft'],
 ['azure', 'azure', 'microsoft', 'microsoft'],
 ['azure', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'python'],
 ['microsoft', 'microsoft', 'python', 'microsoft'],
 ['microsoft', 'python', 'microsoft', 'excel'],
 ['python', 'microsoft', 'excel', 'python'],
 ['microsoft', 'excel', 'python', 'microsoft'],
 ['excel', 'python', 'microsoft', 'excel'],
 ['python', 'microsoft', 'excel', 'aws'],
 ['microsoft', 'excel', 'aws', 'azure'],
 ['excel', 'aws', 'azure', 'microsoft'],
 ['aws', 'azure', 'microsoft', 'azure'],
 ['azure', 'microsoft', 'azure', 'azure'],
 ['microsoft', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'azure'],
 ['azure', 'azure', 'azure', 'microsoft'],
 ['azure', 'azure', 'microsoft', 'microsoft'],
 ['azure', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'r'],
 ['microsoft', 'microsoft', 'r', 'python'],
 ['microsoft', 'r', 'python', 'linux'],
 ['r', 'python', 'linux', 'sql'],
 ['python', 'linux', 'sql', 'microsoft'],
 ['linux', 'sql', 'microsoft', 'azure'],
 ['sql', 'microsoft', 'azure', 'azure'],
 ['microsoft', 'azure', 'azure', 'microsoft'],
 ['azure', 'azure', 'microsoft', 'microsoft'],
 ['azure', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'azure'],
 ['microsoft', 'microsoft', 'azure', 'microsoft'],
 ['microsoft', 'azure', 'microsoft', 'microsoft'],
 ['azure', 'microsoft', 'microsoft', 'azure'],
 ['microsoft', 'microsoft', 'azure', 'azure'],
 ['microsoft', 'azure', 'azure', 'microsoft'],
 ['azure', 'azure', 'microsoft', 'microsoft'],
 ['azure', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'microsoft'],
 ['microsoft', 'microsoft', 'microsoft', 'python'],
 ['microsoft', 'microsoft', 'python', 'sql'],
 ['microsoft', 'python', 'sql', 'python'],
 ['python', 'sql', 'python', 'sql'],
 ['sql', 'python', 'sql', 'c'],
 ['python', 'sql', 'c', 'bash'],
 ['sql', 'c', 'bash', 'linux'],
 ['c', 'bash', 'linux', 'sql'],
 ['bash', 'linux', 'sql', 'sql'],
 ['linux', 'sql', 'sql', 'hive'],
 ['sql', 'sql', 'hive', 'sql'],
 ['sql', 'hive', 'sql', 'python'],
 ['hive', 'sql', 'python', 'sql'],
 ['sql', 'python', 'sql', 'nlp'],
 ['python', 'sql', 'nlp', 'nlp'],
 ['sql', 'nlp', 'nlp', 'python'],
 ['nlp', 'nlp', 'python', 'tableau'],
 ['nlp', 'python', 'tableau', 'aws'],
 ['python', 'tableau', 'aws', 'sap'],
 ['tableau', 'aws', 'sap', 'sql'],
 ['aws', 'sap', 'sql', 'r'],
 ['sap', 'sql', 'r', 'python'],
 ['sql', 'r', 'python', 'r'],
 ['r', 'python', 'r', 'microsoft'],
 ['python', 'r', 'microsoft', 'nlp'],
 ['r', 'microsoft', 'nlp', 'nlp'],
 ['microsoft', 'nlp', 'nlp', 'python'],
 ['nlp', 'nlp', 'python', 'r'],
 ['nlp', 'python', 'r', 'java'],
 ['python', 'r', 'java', 'spark'],
 ['r', 'java', 'spark', 'python'],
 ['java', 'spark', 'python', 'python'],
 ['spark', 'python', 'python', 'sql'],
 ['python', 'python', 'sql', 'python'],
 ['python', 'sql', 'python', 'nlp'],
 ['sql', 'python', 'nlp', 'sql'],
 ['python', 'nlp', 'sql', 'sas'],
 ['nlp', 'sql', 'sas', 'nlp'],
 ['sql', 'sas', 'nlp', 'scala'],
 ['sas', 'nlp', 'scala', 'sql'],
 ['nlp', 'scala', 'sql', 'microsoft'],
 ['scala', 'sql', 'microsoft', 'ibm'],
 ['sql', 'microsoft', 'ibm', 'sql'],
 ['microsoft', 'ibm', 'sql', 'nosql'],
 ['ibm', 'sql', 'nosql', 'spss'],
 ['sql', 'nosql', 'spss', 'sql'],
 ['nosql', 'spss', 'sql', 'oracle'],
 ['spss', 'sql', 'oracle', 'r'],
 ['sql', 'oracle', 'r', 'git'],
 ['oracle', 'r', 'git', 'java'],
 ['r', 'git', 'java', 'html'],
 ['git', 'java', 'html', 'django'],
 ['java', 'html', 'django', 'sql'],
 ['html', 'django', 'sql', 'tableau'],
 ['django', 'sql', 'tableau', 'hadoop'],
 ['sql', 'tableau', 'hadoop', 'hadoop'],
 ['tableau', 'hadoop', 'hadoop', 'tableau'],
 ['hadoop', 'hadoop', 'tableau', 'spark'],
 ['hadoop', 'tableau', 'spark', 'mongodb'],
 ['tableau', 'spark', 'mongodb', 'c'],
 ['spark', 'mongodb', 'c', 'spark'],
 ['mongodb', 'c', 'spark', 'hadoop'],
 ['c', 'spark', 'hadoop', 'javascript'],
 ['spark', 'hadoop', 'javascript', 'sql'],
 ['hadoop', 'javascript', 'sql', 'python'],
 ['javascript', 'sql', 'python', 'python'],
 ['sql', 'python', 'python', 'spark'],
 ['python', 'python', 'spark', 'sql'],
 ['python', 'spark', 'sql', 'microsoft'],
 ['spark', 'sql', 'microsoft', 'ibm'],
 ['sql', 'microsoft', 'ibm', 'sql'],
 ['microsoft', 'ibm', 'sql', 'nosql'],
 ['ibm', 'sql', 'nosql', 'spss'],
 ['sql', 'nosql', 'spss', 'gcp'],
 ['nosql', 'spss', 'gcp', 'nosql'],
 ['spss', 'gcp', 'nosql', 'ruby'],
 ['gcp', 'nosql', 'ruby', 'python'],
 ['nosql', 'ruby', 'python', 'sql'],
 ['ruby', 'python', 'sql', 'aws'],
 ['python', 'sql', 'aws', 'aws'],
 ['sql', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'tensorflow'],
 ['aws', 'aws', 'tensorflow', 'nosql'],
 ['aws', 'tensorflow', 'nosql', 'dynamodb'],
 ['tensorflow', 'nosql', 'dynamodb', 'scrum'],
 ['nosql', 'dynamodb', 'scrum', 'react'],
 ['dynamodb', 'scrum', 'react', 'sql'],
 ['scrum', 'react', 'sql', 'sql'],
 ['react', 'sql', 'sql', 'java'],
 ['sql', 'sql', 'java', 'spring'],
 ['sql', 'java', 'spring', 'sql'],
 ['java', 'spring', 'sql', 'mysql'],
 ['spring', 'sql', 'mysql', 'python'],
 ['sql', 'mysql', 'python', 'linux'],
 ['mysql', 'python', 'linux', 'java'],
 ['python', 'linux', 'java', 'javascript'],
 ['linux', 'java', 'javascript', 'css'],
 ['java', 'javascript', 'css', 'java'],
 ['javascript', 'css', 'java', 'spring'],
 ['css', 'java', 'spring', 'java'],
 ['java', 'spring', 'java', 'sql'],
 ['spring', 'java', 'sql', 'sql'],
 ['java', 'sql', 'sql', 'ruby'],
 ['sql', 'sql', 'ruby', 'rails'],
 ['sql', 'ruby', 'rails', 'hadoop'],
 ['ruby', 'rails', 'hadoop', 'mysql'],
 ['rails', 'hadoop', 'mysql', 'mysql'],
 ['hadoop', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'mysql'],
 ['mysql', 'mysql', 'mysql', 'chef'],
 ['mysql', 'mysql', 'chef', 'ruby'],
 ['mysql', 'chef', 'ruby', 'mysql'],
 ['chef', 'ruby', 'mysql', 'sql'],
 ['ruby', 'mysql', 'sql', 'oracle'],
 ['mysql', 'sql', 'oracle', 'oracle'],
 ['sql', 'oracle', 'oracle', 'oracle'],
 ['oracle', 'oracle', 'oracle', 'oracle'],
 ['oracle', 'oracle', 'oracle', 'oracle'],
 ['oracle', 'oracle', 'oracle', 'postgresql'],
 ['oracle', 'oracle', 'postgresql', 'postgresql'],
 ['oracle', 'postgresql', 'postgresql', 'sql'],
 ['postgresql', 'postgresql', 'sql', 'bash'],
 ['postgresql', 'sql', 'bash', 'nosql'],
 ['sql', 'bash', 'nosql', 'gcp'],
 ['bash', 'nosql', 'gcp', 'kubernetes'],
 ['nosql', 'gcp', 'kubernetes', 'kubernetes'],
 ['gcp', 'kubernetes', 'kubernetes', 'sql'],
 ['kubernetes', 'kubernetes', 'sql', 'linux'],
 ['kubernetes', 'sql', 'linux', 'bash'],
 ['sql', 'linux', 'bash', 'python'],
 ['linux', 'bash', 'python', 'aws'],
 ['bash', 'python', 'aws', 'aws'],
 ['python', 'aws', 'aws', 'sql'],
 ['aws', 'aws', 'sql', 'postgresql'],
 ['aws', 'sql', 'postgresql', 'mysql'],
 ['sql', 'postgresql', 'mysql', 'postgresql'],
 ['postgresql', 'mysql', 'postgresql', 'sql'],
 ['mysql', 'postgresql', 'sql', 'postgresql'],
 ['postgresql', 'sql', 'postgresql', 'aws'],
 ['sql', 'postgresql', 'aws', 'sql'],
 ['postgresql', 'aws', 'sql', 'scrum'],
 ['aws', 'sql', 'scrum', 'aws'],
 ['sql', 'scrum', 'aws', 'aws'],
 ['scrum', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'linux'],
 ['aws', 'aws', 'linux', 'windows'],
 ['aws', 'linux', 'windows', 'shell'],
 ['linux', 'windows', 'shell', 'aws'],
 ['windows', 'shell', 'aws', 'sql'],
 ['shell', 'aws', 'sql', 'sql'],
 ['aws', 'sql', 'sql', 'mysql'],
 ['sql', 'sql', 'mysql', 'postgresql'],
 ['sql', 'mysql', 'postgresql', 'mysql'],
 ['mysql', 'postgresql', 'mysql', 'postgresql'],
 ['postgresql', 'mysql', 'postgresql', 'linux'],
 ['mysql', 'postgresql', 'linux', 'postgresql'],
 ['postgresql', 'linux', 'postgresql', 'python'],
 ['linux', 'postgresql', 'python', 'aws'],
 ['postgresql', 'python', 'aws', 'aws'],
 ['python', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'sql'],
 ['aws', 'aws', 'sql', 'mysql'],
 ['aws', 'sql', 'mysql', 'sql'],
 ['sql', 'mysql', 'sql', 'sql'],
 ['mysql', 'sql', 'sql', 'aws'],
 ['sql', 'sql', 'aws', 'docker'],
 ['sql', 'aws', 'docker', 'sql'],
 ['aws', 'docker', 'sql', 'python'],
 ['docker', 'sql', 'python', 'kubernetes'],
 ['sql', 'python', 'kubernetes', 'sql'],
 ['python', 'kubernetes', 'sql', 'gcp'],
 ['kubernetes', 'sql', 'gcp', 'sql'],
 ['sql', 'gcp', 'sql', 'sql'],
 ['gcp', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'aws'],
 ['sql', 'sql', 'aws', 'ruby'],
 ['sql', 'aws', 'ruby', 'aws'],
 ['aws', 'ruby', 'aws', 'aws'],
 ['ruby', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'aws'],
 ['aws', 'aws', 'aws', 'java'],
 ['aws', 'aws', 'java', 'sql'],
 ['aws', 'java', 'sql', 'sql'],
 ['java', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'r'],
 ['sql', 'sql', 'r', 'python'],
 ['sql', 'r', 'python', 'mysql'],
 ['r', 'python', 'mysql', 'ruby'],
 ['python', 'mysql', 'ruby', 'hadoop'],
 ['mysql', 'ruby', 'hadoop', 'aws'],
 ['ruby', 'hadoop', 'aws', 'mysql'],
 ['hadoop', 'aws', 'mysql', 'java'],
 ['aws', 'mysql', 'java', 'nosql'],
 ['mysql', 'java', 'nosql', 'aws'],
 ['java', 'nosql', 'aws', 'sql'],
 ['nosql', 'aws', 'sql', 'nosql'],
 ['aws', 'sql', 'nosql', 'aws'],
 ['sql', 'nosql', 'aws', 'sql'],
 ['nosql', 'aws', 'sql', 'nosql'],
 ['aws', 'sql', 'nosql', 'sql'],
 ['sql', 'nosql', 'sql', 'aws'],
 ['nosql', 'sql', 'aws', 'aws'],
 ['sql', 'aws', 'aws', 'java'],
 ['aws', 'aws', 'java', 'ansible'],
 ['aws', 'java', 'ansible', 'bash'],
 ['java', 'ansible', 'bash', 'sql'],
 ['ansible', 'bash', 'sql', 'sql'],
 ['bash', 'sql', 'sql', 'microsoft'],
 ['sql', 'sql', 'microsoft', 'sql'],
 ['sql', 'microsoft', 'sql', 'sql'],
 ['microsoft', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'azure'],
 ['sql', 'sql', 'azure', 'sql'],
 ['sql', 'azure', 'sql', 'sql'],
 ['azure', 'sql', 'sql', 'azure'],
 ['sql', 'sql', 'azure', 'sql'],
 ['sql', 'azure', 'sql', 'sql'],
 ['azure', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'sql'],
 ['sql', 'sql', 'sql', 'mysql'],
 ['sql', 'sql', 'mysql', 'sql'],
 ['sql', 'mysql', 'sql', 'mysql'],
 ['mysql', 'sql', 'mysql', 'nosql'],
 ['sql', 'mysql', 'nosql', 'python'],
 ['mysql', 'nosql', 'python', 'puppet'],
 ['nosql', 'python', 'puppet', 'css'],
 ['python', 'puppet', 'css', 'javascript'],
 ['puppet', 'css', 'javascript', 'angular'],
 ['css', 'javascript', 'angular', 'react'],
 ['javascript', 'angular', 'react', 'oracle'],
 ['angular', 'react', 'oracle', 'sql'],
 ['react', 'oracle', 'sql', 'java'],
 ['oracle', 'sql', 'java', 'java'],
 ['sql', 'java', 'java', 'java'],
 ['java', 'java', 'java', 'hadoop'],
 ['java', 'java', 'hadoop', 'apache'],
 ['java', 'hadoop', 'apache', 'apache'],
 ['hadoop', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'spark'],
 ['apache', 'apache', 'spark', 'apache'],
 ['apache', 'spark', 'apache', 'apache'],
 ['spark', 'apache', 'apache', 'java'],
 ['apache', 'apache', 'java', 'hadoop'],
 ['apache', 'java', 'hadoop', 'apache'],
 ['java', 'hadoop', 'apache', 'apache'],
 ['hadoop', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'spark'],
 ['apache', 'apache', 'spark', 'apache'],
 ['apache', 'spark', 'apache', 'angular'],
 ['spark', 'apache', 'angular', 'nosql'],
 ['apache', 'angular', 'nosql', 'mongodb'],
 ['angular', 'nosql', 'mongodb', 'cassandra'],
 ['nosql', 'mongodb', 'cassandra', 'java'],
 ['mongodb', 'cassandra', 'java', 'hadoop'],
 ['cassandra', 'java', 'hadoop', 'apache'],
 ['java', 'hadoop', 'apache', 'apache'],
 ['hadoop', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'spark'],
 ['apache', 'apache', 'spark', 'apache'],
 ['apache', 'spark', 'apache', 'sql'],
 ['spark', 'apache', 'sql', 'apache'],
 ['apache', 'sql', 'apache', 'java'],
 ['sql', 'apache', 'java', 'nosql'],
 ['apache', 'java', 'nosql', 'mongodb'],
 ['java', 'nosql', 'mongodb', 'cassandra'],
 ['nosql', 'mongodb', 'cassandra', 'react'],
 ['mongodb', 'cassandra', 'react', 'javascript'],
 ['cassandra', 'react', 'javascript', 'vue'],
 ['react', 'javascript', 'vue', 'react'],
 ['javascript', 'vue', 'react', 'ruby'],
 ['vue', 'react', 'ruby', 'sql'],
 ['react', 'ruby', 'sql', 'mysql'],
 ['ruby', 'sql', 'mysql', 'javascript'],
 ['sql', 'mysql', 'javascript', 'react'],
 ['mysql', 'javascript', 'react', 'docker'],
 ['javascript', 'react', 'docker', 'javascript'],
 ['react', 'docker', 'javascript', 'javascript'],
 ['docker', 'javascript', 'javascript', 'javascript'],
 ['javascript', 'javascript', 'javascript', 'angular'],
 ['javascript', 'javascript', 'angular', 'windows'],
 ['javascript', 'angular', 'windows', 'react'],
 ['angular', 'windows', 'react', 'hadoop'],
 ['windows', 'react', 'hadoop', 'linux'],
 ['react', 'hadoop', 'linux', 'c'],
 ['hadoop', 'linux', 'c', 'git'],
 ['linux', 'c', 'git', 'angular'],
 ['c', 'git', 'angular', 'java'],
 ['git', 'angular', 'java', 'spring'],
 ['angular', 'java', 'spring', 'javascript'],
 ['java', 'spring', 'javascript', 'sql'],
 ['spring', 'javascript', 'sql', 'css'],
 ['javascript', 'sql', 'css', 'javascript'],
 ['sql', 'css', 'javascript', 'html'],
 ['css', 'javascript', 'html', 'photoshop'],
 ['javascript', 'html', 'photoshop', 'sql'],
 ['html', 'photoshop', 'sql', 'databricks'],
 ['photoshop', 'sql', 'databricks', 'databricks'],
 ['sql', 'databricks', 'databricks', 'databricks'],
 ['databricks', 'databricks', 'databricks', 'databricks'],
 ['databricks', 'databricks', 'databricks', 'wordpress'],
 ['databricks', 'databricks', 'wordpress', 'wordpress'],
 ['databricks', 'wordpress', 'wordpress', 'javascript'],
 ['wordpress', 'wordpress', 'javascript', 'git'],
 ['wordpress', 'javascript', 'git', 'databricks'],
 ['javascript', 'git', 'databricks', 'apache'],
 ['git', 'databricks', 'apache', 'databricks'],
 ['databricks', 'apache', 'databricks', 'databricks'],
 ['apache', 'databricks', 'databricks', 'nlp'],
 ['databricks', 'databricks', 'nlp', 'nlp'],
 ['databricks', 'nlp', 'nlp', 'css'],
 ['nlp', 'nlp', 'css', 'javascript'],
 ['nlp', 'css', 'javascript', 'oracle'],
 ['css', 'javascript', 'oracle', 'css'],
 ['javascript', 'oracle', 'css', 'javascript'],
 ['oracle', 'css', 'javascript', 'scala'],
 ['css', 'javascript', 'scala', 'java'],
 ['javascript', 'scala', 'java', 'java'],
 ['scala', 'java', 'java', 'java'],
 ['java', 'java', 'java', 'hadoop'],
 ['java', 'java', 'hadoop', 'apache'],
 ['java', 'hadoop', 'apache', 'apache'],
 ['hadoop', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'apache'],
 ['apache', 'apache', 'apache', 'spark'],
 ['apache', 'apache', 'spark', 'apache'],
 ['apache', 'spark', 'apache', 'wordpress'],
 ['spark', 'apache', 'wordpress', 'javascript'],
 ['apache', 'wordpress', 'javascript', 'ajax'],
 ['wordpress', 'javascript', 'ajax', 'wordpress'],
 ['javascript', 'ajax', 'wordpress', 'php'],
 ['ajax', 'wordpress', 'php', 'photoshop'],
 ['wordpress', 'php', 'photoshop', 'html'],
 ['php', 'photoshop', 'html', 'asp'],
 ['photoshop', 'html', 'asp', 'asp'],
 ['html', 'asp', 'asp', 'net'],
 ['asp', 'asp', 'net', 'sql'],
 ['asp', 'net', 'sql', 'nosql'],
 ['net', 'sql', 'nosql', 'html'],
 ['sql', 'nosql', 'html', 'azure'],
 ['nosql', 'html', 'azure', 'javascript'],
 ['html', 'azure', 'javascript', 'javascript'],
 ['azure', 'javascript', 'javascript', 'angular'],
 ['javascript', 'javascript', 'angular', 'html'],
 ['javascript', 'angular', 'html', 'css'],
 ['angular', 'html', 'css', 'jquery'],
 ['html', 'css', 'jquery', 'python'],
 ['css', 'jquery', 'python', 'php'],
 ['jquery', 'python', 'php', 'c'],
 ['python', 'php', 'c', 'javascript'],
 ['php', 'c', 'javascript', 'jquery'],
 ['c', 'javascript', 'jquery', 'java'],
 ['javascript', 'jquery', 'java', 'angular'],
 ['jquery', 'java', 'angular', 'angular'],
 ['java', 'angular', 'angular', 'javascript'],
 ['angular', 'angular', 'javascript', 'sql'],
 ['angular', 'javascript', 'sql', 'c'],
 ['javascript', 'sql', 'c', 'microsoft'],
 ['sql', 'c', 'microsoft', 'sql'],
 ['c', 'microsoft', 'sql', 'asp'],
 ['microsoft', 'sql', 'asp', 'net'],
 ['sql', 'asp', 'net', 'microsoft'],
 ['asp', 'net', 'microsoft', 'sql'],
 ['net', 'microsoft', 'sql', 'angular'],
 ['microsoft', 'sql', 'angular', 'c'],
 ['sql', 'angular', 'c', 'c'],
 ['angular', 'c', 'c', 'linux'],
 ['c', 'c', 'linux', 'c'],
 ['c', 'linux', 'c', 'linux'],
 ['linux', 'c', 'linux', 'linux'],
 ['c', 'linux', 'linux', 'c'],
 ['linux', 'linux', 'c', 'java'],
 ['linux', 'c', 'java', 'linux'],
 ['c', 'java', 'linux', 'salesforce'],
 ['java', 'linux', 'salesforce', 'c'],
 ['linux', 'salesforce', 'c', 'aws'],
 ['salesforce', 'c', 'aws', 'mysql'],
 ['c', 'aws', 'mysql', 'c'],
 ['aws', 'mysql', 'c', 'java'],
 ['mysql', 'c', 'java', 'elixir'],
 ['c', 'java', 'elixir', 'aws'],
 ['java', 'elixir', 'aws', 'linux'],
 ['elixir', 'aws', 'linux', 'ruby'],
 ['aws', 'linux', 'ruby', 'python'],
 ['linux', 'ruby', 'python', 'tensorflow'],
 ['ruby', 'python', 'tensorflow', 'javascript'],
 ['python', 'tensorflow', 'javascript', 'javascript'],
 ['tensorflow', 'javascript', 'javascript', 'git'],
 ['javascript', 'javascript', 'git', 'docker'],
 ['javascript', 'git', 'docker', 'kubernetes'],
 ['git', 'docker', 'kubernetes', 'java'],
 ['docker', 'kubernetes', 'java', 'javascript'],
 ['kubernetes', 'java', 'javascript', 'linux'],
 ['java', 'javascript', 'linux', 'java'],
 ['javascript', 'linux', 'java', 'nlp'],
 ['linux', 'java', 'nlp', 'nlp'],
 ['java', 'nlp', 'nlp', 'ruby'],
 ['nlp', 'nlp', 'ruby', 'hadoop'],
 ['nlp', 'ruby', 'hadoop', 'ruby'],
 ['ruby', 'hadoop', 'ruby', 'rails'],
 ['hadoop', 'ruby', 'rails', 'css'],
 ['ruby', 'rails', 'css', 'python'],
 ['rails', 'css', 'python', 'bash'],

In [62]:
from keras.preprocessing.text import Tokenizer

In [ ]:
# skills = hope2["skills"] #Our raw text complaints

# tokenizer = Tokenizer() #Initialize a tokenizer.

# tokenizer.fit_on_texts(skills) #Fit it to the complaints

# sequences = tokenizer.texts_to_sequences(skills) #Generate sequences

In [63]:
# stop = stopwords.words('english') + list(string.punctuation)
# stop += ["''", '""', '...', '``','--']
# data = data.apply(lambda x: [item for item in x if item not in stop])


tokenizer = Tokenizer()
tokenizer.fit_on_texts(text_sequences)

sequences = tokenizer.texts_to_sequences(text_sequences) 

#Collecting some information   
vocabulary_size = len(tokenizer.word_counts)

n_sequences = np.empty([len(sequences),train_len], dtype='int32')
for i in range(len(sequences)):
    n_sequences[i] = sequences[i]

In [64]:
vocabulary_size

111

In [65]:
train_inputs = n_sequences[:,:-1]
train_targets = n_sequences[:,-1]

In [66]:
# train_targets = train_targets.astype('float16')

In [67]:
train_targets

array([54,  1, 99, ..., 11,  5,  1], dtype=int32)

In [68]:

train_targets = to_categorical(train_targets, num_classes=vocabulary_size+1)
seq_len = train_inputs.shape[1]
train_inputs.shape

(47108, 3)

In [69]:
# The Embedding layer is initialized with random weights and will learn an embedding for all of the words in the training dataset.
# It is a flexible layer that can be used in a variety of ways, such as:
# It can be used alone to learn a word embedding that can be saved and used in another model later.
# It can be used as part of a deep learning model where the embedding is learned along with the model itself.
# It can be used to load a pre-trained word embedding model, a type of transfer learning.

In [70]:
vocabulary_size

111

In [71]:
def create_model(vocabulary_size, seq_len):
    model = Sequential()
    model.add(Embedding(vocabulary_size, seq_len,input_length=seq_len))
    model.add(LSTM(50,return_sequences=True))
    model.add(LSTM(50))
    model.add(Dense(50,activation='relu'))
    model.add(Dense(vocabulary_size,activation='softmax'))
    opt_adam = optimizers.adam(lr=0.01)
    #You can simply pass 'adam' to optimizer in compile method. Default learning rate 0.001
    #But here we are using adam optimzer from optimizer class to change the LR.
    model.compile(loss='categorical_crossentropy',optimizer=opt_adam,metrics=['accuracy'])
    model.summary()
    return model

In [72]:
model = create_model(vocabulary_size+1,seq_len)
path = 'checkpoint12'
checkpoint = ModelCheckpoint(path, monitor='loss', verbose=1, save_best_only=True, mode='min')
model.fit(train_inputs,train_targets,batch_size=128,epochs=50,verbose=1,callbacks=[checkpoint])
# pickle.dump(tokenizer,open('tokenizer_Model4','wb'))

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 3, 3)              336
_________________________________________________________________
lstm_1 (LSTM)                (None, 3, 50)             10800
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense_1 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_2 (Dense)              (None, 112)               5712
=================================================================
Total params: 39,598
Trainable params: 39,598
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
47108/47108 [==============================] - 3s 73us/step - loss: 3.4681 - acc: 0.1622

Epoch 00001: loss improved from inf to 3.46811, saving model to checkpoint12
Epoch 2/50
47108/47108 [==============================] - 3s 57us/step - loss: 3.1625 - acc: 0.1987

Epoch 00002: loss improved from 3.46811 to 3.16252, saving model to checkpoint12
Epoch 3/50
47108/47108 [==============================] - 3s 59us/step - loss: 2.9748 - acc: 0.2306

Epoch 00003: loss improved from 3.16252 to 2.97478, saving model to checkpoint12
Epoch 4/50
47108/47108 [==============================] - 3s 62us/step - loss: 2.7826 - acc: 0.2748

Epoch 00004: loss improved from 2.97478 to 2.78264, saving model to checkpoint12
Epoch 5/50
47108/47108 [==============================] - 3s 61us/step - loss: 2.5969 - acc: 0.3230

Epoch 00005: loss improved from 2.78264 to 2.59694, saving model to checkpoint12
Epoch 6/50
47108/47108 [==============================] - 3s 59us/step - loss: 2.4243 - acc: 0.3716

Epoch 00006: loss improved from 2.59694 to 2.42425, saving model to checkpoint12
Epoch 7/50
47108/47108 [==============================] - 3s 63us/step - loss: 2.2869 - acc: 0.4130

Epoch 00007: loss improved from 2.42425 to 2.28691, saving model to checkpoint12
Epoch 8/50
47108/47108 [==============================] - 3s 64us/step - loss: 2.1870 - acc: 0.4360

Epoch 00008: loss improved from 2.28691 to 2.18699, saving model to checkpoint12
Epoch 9/50
47108/47108 [==============================] - 3s 60us/step - loss: 2.0987 - acc: 0.4530

Epoch 00009: loss improved from 2.18699 to 2.09867, saving model to checkpoint12
Epoch 10/50
47108/47108 [==============================] - 3s 61us/step - loss: 2.0380 - acc: 0.4691

Epoch 00010: loss improved from 2.09867 to 2.03795, saving model to checkpoint12
Epoch 11/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.9771 - acc: 0.4844

Epoch 00011: loss improved from 2.03795 to 1.97707, saving model to checkpoint12
Epoch 12/50
47108/47108 [==============================] - 3s 61us/step - loss: 1.9212 - acc: 0.4973

Epoch 00012: loss improved from 1.97707 to 1.92118, saving model to checkpoint12
Epoch 13/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.8772 - acc: 0.5062

Epoch 00013: loss improved from 1.92118 to 1.87715, saving model to checkpoint12
Epoch 14/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.8517 - acc: 0.5094

Epoch 00014: loss improved from 1.87715 to 1.85166, saving model to checkpoint12
Epoch 15/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.8084 - acc: 0.5207

Epoch 00015: loss improved from 1.85166 to 1.80844, saving model to checkpoint12
Epoch 16/50
47108/47108 [==============================] - 3s 61us/step - loss: 1.7862 - acc: 0.5230

Epoch 00016: loss improved from 1.80844 to 1.78619, saving model to checkpoint12
Epoch 17/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.7671 - acc: 0.5271

Epoch 00017: loss improved from 1.78619 to 1.76710, saving model to checkpoint12
Epoch 18/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.7313 - acc: 0.5343

Epoch 00018: loss improved from 1.76710 to 1.73134, saving model to checkpoint12
Epoch 19/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.7112 - acc: 0.5387

Epoch 00019: loss improved from 1.73134 to 1.71120, saving model to checkpoint12
Epoch 20/50
47108/47108 [==============================] - 3s 64us/step - loss: 1.6942 - acc: 0.5420

Epoch 00020: loss improved from 1.71120 to 1.69418, saving model to checkpoint12
Epoch 21/50
47108/47108 [==============================] - 3s 64us/step - loss: 1.6674 - acc: 0.5495

Epoch 00021: loss improved from 1.69418 to 1.66742, saving model to checkpoint12
Epoch 22/50
47108/47108 [==============================] - 3s 64us/step - loss: 1.6454 - acc: 0.5504

Epoch 00022: loss improved from 1.66742 to 1.64543, saving model to checkpoint12
Epoch 23/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.6316 - acc: 0.5535

Epoch 00023: loss improved from 1.64543 to 1.63163, saving model to checkpoint12
Epoch 24/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.6289 - acc: 0.5561

Epoch 00024: loss improved from 1.63163 to 1.62889, saving model to checkpoint12
Epoch 25/50
47108/47108 [==============================] - 3s 70us/step - loss: 1.6135 - acc: 0.5590

Epoch 00025: loss improved from 1.62889 to 1.61352, saving model to checkpoint12
Epoch 26/50
47108/47108 [==============================] - 3s 70us/step - loss: 1.6004 - acc: 0.5614

Epoch 00026: loss improved from 1.61352 to 1.60039, saving model to checkpoint12
Epoch 27/50
47108/47108 [==============================] - 3s 64us/step - loss: 1.5938 - acc: 0.5625

Epoch 00027: loss improved from 1.60039 to 1.59382, saving model to checkpoint12
Epoch 28/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5809 - acc: 0.5649

Epoch 00028: loss improved from 1.59382 to 1.58086, saving model to checkpoint12
Epoch 29/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5703 - acc: 0.5668

Epoch 00029: loss improved from 1.58086 to 1.57030, saving model to checkpoint12
Epoch 30/50
47108/47108 [==============================] - 3s 64us/step - loss: 1.5564 - acc: 0.5707

Epoch 00030: loss improved from 1.57030 to 1.55645, saving model to checkpoint12
Epoch 31/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5388 - acc: 0.5748

Epoch 00031: loss improved from 1.55645 to 1.53885, saving model to checkpoint12
Epoch 32/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5319 - acc: 0.5757

Epoch 00032: loss improved from 1.53885 to 1.53188, saving model to checkpoint12
Epoch 33/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5290 - acc: 0.5747

Epoch 00033: loss improved from 1.53188 to 1.52895, saving model to checkpoint12
Epoch 34/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5202 - acc: 0.5777

Epoch 00034: loss improved from 1.52895 to 1.52020, saving model to checkpoint12
Epoch 35/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5026 - acc: 0.5822

Epoch 00035: loss improved from 1.52020 to 1.50257, saving model to checkpoint12
Epoch 36/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.5103 - acc: 0.5803

Epoch 00036: loss did not improve from 1.50257
Epoch 37/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.4955 - acc: 0.5806

Epoch 00037: loss improved from 1.50257 to 1.49555, saving model to checkpoint12
Epoch 38/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.5118 - acc: 0.5787

Epoch 00038: loss did not improve from 1.49555
Epoch 39/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.4793 - acc: 0.5861

Epoch 00039: loss improved from 1.49555 to 1.47932, saving model to checkpoint12
Epoch 40/50
47108/47108 [==============================] - 3s 65us/step - loss: 1.5098 - acc: 0.5791

Epoch 00040: loss did not improve from 1.47932
Epoch 41/50

47108/47108 [==============================] - 3s 60us/step - loss: 1.4742 - acc: 0.5869

Epoch 00041: loss improved from 1.47932 to 1.47421, saving model to checkpoint12
Epoch 42/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.4570 - acc: 0.5910

Epoch 00042: loss improved from 1.47421 to 1.45703, saving model to checkpoint12
Epoch 43/50
47108/47108 [==============================] - 3s 61us/step - loss: 1.4581 - acc: 0.5867

Epoch 00043: loss did not improve from 1.45703
Epoch 44/50
47108/47108 [==============================] - 3s 63us/step - loss: 1.4460 - acc: 0.5928

Epoch 00044: loss improved from 1.45703 to 1.44596, saving model to checkpoint12
Epoch 45/50
47108/47108 [==============================] - 3s 61us/step - loss: 1.4532 - acc: 0.5884

Epoch 00045: loss did not improve from 1.44596
Epoch 46/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.4578 - acc: 0.5888

Epoch 00046: loss did not improve from 1.44596
Epoch 47/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.4465 - acc: 0.5931

Epoch 00047: loss did not improve from 1.44596
Epoch 48/50
47108/47108 [==============================] - 3s 64us/step - loss: 1.4426 - acc: 0.5899

Epoch 00048: loss improved from 1.44596 to 1.44260, saving model to checkpoint12
Epoch 49/50
47108/47108 [==============================] - 3s 66us/step - loss: 1.4528 - acc: 0.5896

Epoch 00049: loss did not improve from 1.44260
Epoch 50/50
47108/47108 [==============================] - 3s 62us/step - loss: 1.4766 - acc: 0.5845

Epoch 00050: loss did not improve from 1.44260

In [73]:
model = load_model('checkpoint12')
# tokenizer = pickle.load(open('tokenizer_Model4','rb'))
seq_len = 3 
def gen_text(model, tokenizer, seq_len, seed_text, num_gen_words):
    output_text = []
    input_text = seed_text
    for i in range(num_gen_words):
        encoded_text = tokenizer.texts_to_sequences([input_text])[0]
        
        pad_encoded = pad_sequences([encoded_text], maxlen=seq_len,truncating='pre')
        pred_word_ind = model.predict_classes(pad_encoded,verbose=0)[0]
        
        pred_word = tokenizer.index_word[pred_word_ind]
        input_text += ' '+pred_word
        output_text.append(pred_word)
    return ' '.join(output_text)

print('\n\n===>Enter --exit to exit from the program')
while True:
    seed_text  = input('Enter string: ')
    if seed_text.lower() == '--exit':
        break
    else:
        out = gen_text(model, tokenizer, seq_len=seq_len, seed_text=seed_text, num_gen_words=1000)
#         print('Output: '+seed_text+' '+out)
        out_list = out.split()
        out_total = Counter(out_list)
        total = sum(out_total.values())
        out_length = len(out_total)
        out_dict = [(i, out_total[i] / total * 100.0) for i in out_total]
        out_result = pd.DataFrame(out_dict, columns=['Tech','Percentage'])
        out_result_chart = out_result.sort_values('Percentage', ascending=False).head(10)
        output_chart = out_result_chart.set_index('Tech', drop=True)
        print(output_chart)

===>Enter --exit to exit from the program
Enter string: data scientist
         Percentage
Tech
python         49.3
r              49.1
sql             0.3
scala           0.2
tableau         0.2
aws             0.2
nlp             0.2
spark           0.1
linux           0.1
sas             0.1
Enter string: data analyst
         Percentage
Tech
python         49.3
r              49.1
sql             0.3
scala           0.2
tableau         0.2
aws             0.2
nlp             0.2
spark           0.1
linux           0.1
sas             0.1
Enter string: --exit

In [ ]:
print(pred_word)

In [ ]:
# model = load_model('checkpoint4')
# # tokenizer = pickle.load(open('tokenizer_Model4','rb'))
# seq_len = 3 
# def gen_text(model, tokenizer, seq_len, seed_text, num_gen_words):
#     output_text = []
#     input_text = seed_text
#     for i in range(num_gen_words):
#         encoded_text = tokenizer.texts_to_sequences([input_text])[0]
#         pad_encoded = pad_sequences([encoded_text], maxlen=seq_len,truncating='pre')
#         pred_word_ind = model.predict_classes(pad_encoded,verbose=0)[0]
        
#         pred_word = tokenizer.index_word[pred_word_ind]
#         targets = str()
#         for word in pred_word:
#             if word in search_terms:
#                 targets+word
                
#         input_text += ' '+targets
#         output_text.append(targets)
#     return ' '.join(output_text)

# print('\n\n===>Enter --exit to exit from the program')
# while True:
#     seed_text  = input('Enter string: ')
#     if seed_text.lower() == '--exit':
#         break
#     else:
#         out = gen_text(model, tokenizer, seq_len=seq_len, seed_text=seed_text, num_gen_words=5)
#         print('Output: '+seed_text+' '+out)

In [ ]:
# target = df.title
# data = df['description'].map(word_tokenize).values

In [ ]:
# total_target = set(target)
# target_classes = len(total_target)

In [ ]:
# total_vocabulary = set(word for description in data for word in description)

In [ ]:
# len(total_vocabulary)
# print("There are {} unique tokens in the dataset.".format(len(total_vocabulary)))

In [ ]:
# glove = {}
# with open('glove.6B.50d.txt', 'rb') as f:
#     for line in f:
#         parts = line.split()
#         word = parts[0].decode('utf-8')
#         if word in total_vocabulary:
#             vector = np.array(parts[1:], dtype=np.float32)
#             glove[word] = vector

In [ ]:
# glove['java']

In [ ]:
# class W2vVectorizer(object):
    
#     def __init__(self, w2v):
#         # takes in a dictionary of words and vectors as input
#         self.w2v = w2v
#         if len(w2v) == 0:
#             self.dimensions = 0
#         else:
#             self.dimensions = len(w2v[next(iter(glove))])
    
#     # Note from Mike: Even though it doesn't do anything, it's required that this object implement a fit method or else
#     # It can't be used in a sklearn Pipeline. 
#     def fit(self, X, y):
#         return self
            
#     def transform(self, X):
#         return np.array([
#             np.mean([self.w2v[w] for w in words if w in self.w2v]
#                    or [np.zeros(self.dimensions)], axis=0) for words in X])