In [1]:
import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt

import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import terms 
import Cities 
import functions
import time

In [2]:
search_terms = terms.total_terms

In [3]:
skills = search_terms[10:20]

In [4]:
linkedin = pd.read_csv('linkedin.csv')
indeed = pd.read_csv('indeed.csv')

In [5]:
data_li = linkedin['description']
data_len = len(data_li)
data_li = functions.clean(data_li)
test = functions.word_count(data_li)

data_ind = indeed['description']
data_len2 = len(data_ind)
data_ind = functions.clean(data_ind)
test2 = functions.word_count(data_ind)
web_len = data_len + data_len2

c = Counter(test) + Counter(test2) 
total = sum(c.values())
Cdict = [(i, c[i] / total * 100.0) for i in c]

results = pd.DataFrame(Cdict, columns=['Tech','Percentage'])

In [6]:
dtotal = pd.read_csv('total_data.csv')

In [7]:
dtotal.head()

,title,company,location,description
0,Data Scientist,Esurance,"San Francisco, CA 94105",[ Summary Esurance is looking for a ...
1,DATA SCIENTIST,Walmart,"Sunnyvale, CA 94087",[ Position Description Data Scientist i...
2,Data Scientist,Kohl's,"Milpitas, CA 95035",[ Interpret and apply data analyses and expla...
3,DATA SCIENTIST,Walmart eCommerce,"Sunnyvale, CA 94087",[ Position Description Data Scientist i...
4,Staff Data Scientist (GEC11903),NaN,NaN,[ Position Description Understands an...

In [8]:
dtotal = dtotal['description']

In [9]:
dtotal = functions.clean(dtotal)

In [10]:
dtotal = functions.word_count(dtotal)

In [11]:
ctotal = Counter(dtotal)

In [12]:
total = sum(ctotal.values())

In [13]:
total

33123

In [14]:
Ctotaldict = [(i, ctotal[i] / total * 100.0) for i in ctotal]

In [15]:
Ctotaldict

[('ajax', 0.3683241252302026),
 ('asp', 0.48908613350240016),
 ('asp.net', 0.0),
 ('aws', 4.133079733115961),
 ('acrobat', 0.006038100413609878),
 ('airflow', 0.4045527277118618),
 ('alteryx', 0.024152401654439513),
 ('android', 0.4166289285390816),
 ('angular', 1.3163058901669533),
 ('ansible', 0.1449144099266371),
 ('apache', 0.9238293632823114),
 ('arduino', 0.006038100413609878),
 ('atom', 0.0),
 ('azure', 3.3692600307943117),
 ('bsd', 0.006038100413609878),
 ('bash', 0.5796576397065484),
 ('bigquery', 0.24152401654439515),
 ('c#', 0.0),
 ('c++', 0.0),
 ('css', 2.686954684056396),
 ('caffe', 0.018114301240829637),
 ('cassandra', 0.446819430607131),
 ('chef', 0.24152401654439515),
 ('couchbase', 0.024152401654439513),
 ('cryengine', 0.0),
 ('d3', 0.0),
 ('databricks', 0.1449144099266371),
 ('django', 0.11774295806539262),
 ('docker', 0.7909911541828941),
 ('drupal', 0.07245720496331855),
 ('dynamodb', 0.1449144099266371),
 ('elixir', 0.04226670289526915),
 ('excel', 1.2166772333423903),
 ('fastai', 0.0),
 ('firebase', 0.04226670289526915),
 ('flask', 0.030190502068049394),
 ('gcp', 0.5524861878453038),
 ('git', 1.5850013585725928),
 ('google cloud', 0.0),
 ('html', 3.058297859493403),
 ('hadoop', 2.4212782658575613),
 ('hbase', 0.6038100413609878),
 ('hive', 1.5095251034024695),
 ('ibm', 0.38040032605742236),
 ('ipython', 0.0),
 ('illustrator', 0.09660960661775805),
 ('indesign', 0.07245720496331855),
 ('intellij', 0.012076200827219757),
 ('java', 4.3202608459378675),
 ('javascript', 4.136098783322767),
 ('jupyter', 0.18718111282190622),
 ('keras', 0.09660960661775805),
 ('komodo', 0.0),
 ('kubernetes', 0.45889563143435075),
 ('laravel', 0.1932192132355161),
 ('linux', 2.451468767925611),
 ('macos', 0.05434290372248891),
 ('mariadb', 0.12680010868580746),
 ('matlab', 0.591733840533768),
 ('microsoft', 4.392718050901187),
 ('mongodb', 0.6128671919814027),
 ('mysql', 1.7842586722217189),
 ('net', 1.745011019533255),
 ('nlp', 0.8815626603870422),
 ('netbeans', 0.0),
 ('netsuite', 0.030190502068049394),
 ('nosql', 1.1653533798267066),
 ('node', 0.5736195392929385),
 ('notepad', 0.0),
 ('numpy', 0.35624792440298286),
 ('objective c', 0.0),
 ('oracle', 1.24082963499683),
 ('php', 1.24686773541044),
 ('phpstorm', 0.0),
 ('pmp', 0.018114301240829637),
 ('pandas', 0.4679527820547656),
 ('perl', 0.4649337318479606),
 ('photoshop', 0.19925731364912597),
 ('pi', 0.21133351447634574),
 ('pig', 0.298885970473689),
 ('postgresql', 0.49512423391601),
 ('powerpoint', 0.4226670289526915),
 ('powershell', 0.15699061075385684),
 ('project management', 0.0),
 ('puppet', 0.10264770703136794),
 ('pycharm', 0.0),
 ('pytorch', 0.15397156054705188),
 ('python', 9.353017540681702),
 ('r', 4.359508498626332),
 ('rails', 0.3683241252302026),
 ('raspberry', 0.036228602481659274),
 ('react', 1.3646106934758324),
 ('ruby', 1.0747818736225583),
 ('rubymine', 0.0),
 ('sap', 0.446819430607131),
 ('sas', 1.3464963922350028),
 ('spss', 0.1932192132355161),
 ('sql', 10.711590133743924),
 ('sqlite', 0.0),
 ('salesforce', 0.1932192132355161),
 ('scala', 1.147239078585877),
 ('scikit-learn', 0.0),
 ('scrum', 1.0747818736225583),
 ('shell', 0.742686350874015),
 ('spark', 2.372973462548682),
 ('spring', 0.5675814388793285),
 ('sublime', 0.0),
 ('swift', 0.10868580744497781),
 ('tableau', 1.9020016302871117),
 ('tensorflow', 0.3381336231621532),
 ('textmate', 0.0),
 ('torch', 0.07245720496331855),
 ('unity', 0.07245720496331855),
 ('unreal engine', 0.0),
 ('visual studio', 0.0),
 ('vue', 0.23548591613078523),
 ('watson', 0.030190502068049394),
 ('webassembly', 0.018114301240829637),
 ('windows', 0.99024846783202),
 ('wordpress', 0.2898288198532742),
 ('xgboost', 0.057361953929293844),
 ('xml', 0.47700993267518044),
 ('xamarin', 0.06641910454970866),
 ('xcode', 0.018114301240829637),
 ('zend', 0.0),
 ('ios', 0.3139812215077137),
 ('jquery', 0.9177912628687015),
 ('mapreduce', 0.3441717235757631),
 ('sklearn', 0.015095251034024697)]

In [16]:

# dtotal= pd.DataFrame(dtotal['title'].astype(str))









total_result = pd.DataFrame(Ctotaldict, columns=['Tech','Percentage'])

In [17]:
total_result = total_result.set_index('Tech', drop=True)

In [18]:
type(skills)

list

In [19]:
results = results.set_index('Tech', drop=True)

In [20]:
results

           Percentage
Tech
ajax         0.011815
asp          0.035444
aws          2.611059
airflow      0.189036
alteryx      0.366257
...               ...
xgboost      0.259924
xml          0.141777
jquery       0.011815
mapreduce    0.685255
sklearn      0.189036

[88 rows x 1 columns]

In [21]:
skills

['Apache',
 'Arduino',
 'Atom',
 'Azure',
 'BSD',
 'Bash',
 'BigQuery',
 'C#',
 'C++',
 'CSS']

In [ ]:
# skills = st.multiselect('Skill Comparison: ', options=search_terms)
# st.write('You selected: ', skills)

In [22]:
def compare(word):
    
    test = []
    for x in word:
        if x in results.index: 
            test.append(results.loc[x])
        return test

In [ ]:
def compare(word):
    
    test = []
    if word in results.index: 
        test.append(results.loc[word])
        return test

In [23]:
example = compare('BigQuery')

In [24]:
example

[]

In [ ]:
def compare(word, result):
    
    test = []
#     perc = ' '.join([str(elem) for elem in skills])
    for x in perc.split(' '): 
        [test.append(result.loc[x]) for x in word if x in result.index]       
    return test

In [ ]:
test = compare(skills, results)

In [ ]:
test

In [ ]:
perc = ' '.join([str(elem) for elem in skills])

In [ ]:
for x in perc.split(' '):
    print(x)

In [ ]:
t = compare(skills, results)

In [ ]:
t

In [ ]:
testy1 = compare('mapreduce', results)

In [ ]:
testy2 = compare('mapreduce', total_result)

In [ ]:
df_test1 = pd.DataFrame(testy1)

In [ ]:
df_test2 = pd.DataFrame(testy2)

In [ ]:
df_test3 = df_test1.subtract(df_test2, fill_value=0)

In [ ]:
df_test3

In [ ]:
df_test2

In [ ]:
df_test1

In [ ]:
equal = (str(testy))

In [ ]:
equal2 = (str(testy2))

In [ ]:
equal3 = equal - equal2

In [ ]:
search_terms = terms.total_terms

In [ ]:
def clean(raw):
    raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
    return raw

In [ ]:
def clean_C(raw):
    sharp = [i for i in raw.split() if i.endswith("#")]
    plus = [i for i in raw.split() if i.endswith("+")]
    return sharp, plus

In [ ]:
def word_count(string):
    freq = defaultdict(int)
    List1 = [x.lower() for x in search_terms]
    List2 = [x.lower() for x in string]

    for item in List1:
        if item in List2:
            freq[item] = List2.count(item)
        else:
            freq[item] = 0 
    return freq

In [ ]:
raw = pd.read_csv('linkedin.csv')

In [ ]:
raw = raw['description']

In [ ]:
raw = str(raw)

In [ ]:
for char in '-.,\n':
        raw = raw.replace(char,' ')

In [ ]:
test = re.compile(r'([^a-zA-Z0-9])(%s)([^a-zA-Z0-9])' % re.escape("C++"), re.I)
raw_new = nltk.regexp_tokenize(raw, test)

In [ ]:
raw_new

In [ ]:
def word_count(string):
    freq = defaultdict(int)
    List1 = [x.lower() for x in search_terms]
    List2 = [x.lower() for x in string]

    for item in List1:
        if item in List2:
            freq[item] = List2.count(item)
        else:
            freq[item] = 0 
    return freq

In [ ]:
test.head(50)

In [ ]:
import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt

import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import terms 
import Cities 
import functions
import time

In [ ]:
def clean(raw):
#     raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
    return raw

In [ ]:
test = pd.read_csv('total_data.csv')

In [ ]:
location = test['location']

In [ ]:
location = location.to_list()

In [ ]:
location

In [ ]:
# for x in location:
#     city = x.split(',')[0]
    
#     print(city)

cities = [x.split(',')[0] for x in location if isinstance(x, str)]

In [ ]:
cities = list(set(cities))

In [ ]:
cities

In [ ]:
census = pd.read_csv('uscities.csv')
census.head()

In [ ]:
census = census[['city', 'lat', 'lng']]
# census.set_index("city", inplace=True)

In [ ]:
census = census.drop_duplicates('city', keep='first')

In [ ]:
census = census.set_index('city',drop=True)

In [ ]:
census.to_csv('census_location.csv', index_label='city')

In [ ]:
census = pd.read_csv('census_location.csv', index_col='city')
census = census.rename(columns={'lat':'lat','lng':'lon'})

In [ ]:
census.to_csv('census_location.csv', index_label='city')

In [ ]:
census = pd.read_csv('census_location.csv', index_col='city')
census.head()

In [ ]:
st.deck_gl_chart(
            viewport={
                'latitude': midpoint[0],
                'longitude':  midpoint[1],
                'zoom': 4
            },
            layers=[{
                'type': 'ScatterplotLayer',
                'data': map_graph,
                'radiusScale': 250,
   'radiusMinPixels': 5,
                'getFillColor': [248, 24, 148],
            }]
        )

In [ ]:
# location = defaultdict()
# for x in cities:
#     if x in census.index:
#         location[x] = census.loc[x]

In [ ]:
# List1 = [x.lower() for x in census['city']]
# List2 = [x.lower() for x in cities]


def new(word):
    location = []
    for x in census.index:
        if x in cities:
            location.append(census.loc[x])
    return location

In [ ]:
test = new(cities)

In [ ]:
df_location = pd.DataFrame(test, columns=['lat','lng'])

In [ ]:
df_location

In [ ]:
data = pd.DataFrame(test, columns=['lat','lng'])

In [ ]:

dblocation = dtotal['location']
dblocation = dblocation.to_list()
dbcity = [x.split(',')[0] for x in dblocation if isinstance(x, str)]

census = pd.read_csv('census_location.csv', index_col='city')

def dblocate(word):
    locationdb = []
    for x in census.index:
        if x in dbcity:
            locationdb.append(census.loc[x])
    return locationdb

db_city = dblocate(city)
db_graph = pd.DataFrame(db_city, columns=['lat','lon'])

st.deck_gl_chart(
            viewport={
                'latitude': map_graph['lat'].median(),
                'longitude':  map_graph['lon'].median(),
                'zoom': 2
            },
            layers=[{
                'type': 'ScatterplotLayer',
                'data': map_graph,
                'radiusScale': 250,
   'radiusMinPixels': 5,
                'getFillColor': [43,241,7],
            },
            {'type': 'ScatterplotLayer',
            'data': db_graph,
            'radiusScale': 250,
            'radiusMinPixels': 5,
            'getFillColor': [75,205,250],
            }]
        )

In [ ]:
ScatterplotLayer({
    id: 'scatterplot-layer',
    data: [
      { position: [-122.4, 37.78], radius: 5, color: [0, 255, 0] },
    ],
    radiusScale: 100,
  })