In [1]:
import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt

import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import terms 
import Cities 
import functions
import time

import plotly.graph_objects as go

In [2]:
def compare(word, result):
    test = []
    List1 = [x.lower() for x in word]
    List2 = [x.lower() for x in result.index]
    for x in List1:
        if x in result.index: 
            test.append(result.loc[x])
    return test

In [3]:
option = 'Data Engineer'

In [4]:
dtotal = pd.read_csv('total_data_date.csv')

In [13]:
dtotal= dtotal[dtotal['title'].astype(str).str.contains(option)]
total_length = len(dtotal)
dtotal2 = dtotal['description']
dtotal1 = functions.clean(dtotal2)
dtotal1 = functions.word_count(dtotal1)
c_let3 = functions.cleanC(dtotal2)
c_p3 = functions.C_plus(c_let3)
c_s3 = functions.C_sharp(c_let3)
test3a = Counter(c_p3) + Counter(c_s3)

ctotal = Counter(dtotal1) + Counter(test3a)
total = sum(ctotal.values())
Ctotaldict = [(i, ctotal[i] / total * 100.0) for i in ctotal]

In [5]:
dtotal = dtotal[dtotal['title'].astype(str).str.contains(option)]

In [6]:
dtotal

,title,company,location,description,date
1047,Data Engineer / Data Scientist,Better.com,"New York, NY",[ About Better.com: We're one of the fa...,2019-12-15 14:06:23.190232
1349,Data Engineer / Data Scientist,Better.com,"New York, NY",[ About Better.com: We're one of the fa...,2019-12-15 14:06:23.190232
1870,"Lead Software Engineer, Data Engineering",PayScale,"Seattle, WA",[ Job Description Does empowering teams t...,2019-12-15 14:06:23.190232
2240,"Lead Software Engineer, Data Engineering",PayScale,"Seattle, WA",[ Job Description Does empowering teams t...,2019-12-15 14:06:23.190232
3124,Big Data Engineer,NaN,NaN,[ FrugalOps is looking for several Big data ...,2019-12-15 14:06:23.190232
...,...,...,...,...,...
9553,Data Engineer,Noetic Strategies Inc.,"Scott AFB, IL",[ Job Summary Noetic is seeking a Data En...,2019-12-16 14:41:46.399328
9554,Data Engineer - Entry Level,American Water,"Camden, NJ 08102","[ American Water is purpose-driven , pe...",2019-12-16 14:41:46.399328
9555,Data Engineer,Verimatrix,"San Diego, CA 92121","[ Verimatrix, Inc. has an opening for a Dat...",2019-12-16 14:41:46.399328
9556,Big Data Engineer,NaN,NaN,[ Storm Global Analytics are inviting Senior...,2019-12-16 14:41:46.399328
9557,Data Engineer,OneGlobe LLC,"Hanscom AFB, MA",[ At least 5 years of experience developing...,2019-12-16 14:41:46.399328

In [33]:
date = dtotal['date']
date = pd.to_datetime(date).values.astype(int)
d = pd.to_datetime(date.mean())
d

Timestamp('2019-12-15 14:55:01.648077056')

In [37]:
date2 = dtotal['date']
date2 = date2.unique()
d2 = pd.to_datetime(date2)
d2

DatetimeIndex(['2019-12-15 14:06:23.190232', '2019-12-15 14:13:10.377599',
               '2019-12-16 14:42:23.090287', '2019-12-16 14:41:46.399328'],
              dtype='datetime64[ns]', freq=None)

In [25]:
date.unique()

array(['2019-12-15 14:06:23.190232', '2019-12-15 14:13:10.377599',
       '2019-12-16 14:42:23.090287', '2019-12-16 14:41:46.399328'],
      dtype=object)

In [16]:
search_terms = terms.total_terms

In [38]:
total_resulty = pd.DataFrame(Ctotaldict, columns=['Tech','Percentage'])

In [41]:
total_resulty['Date'] = d

In [42]:
total_resulty

         Tech  Percentage                          date
0         aws    9.288029 2019-12-15 14:55:01.648077056
1     airflow    1.570159 2019-12-15 14:55:01.648077056
2     alteryx    0.033231 2019-12-15 14:55:01.648077056
3     android    0.182770 2019-12-15 14:55:01.648077056
4     angular    0.008308 2019-12-15 14:55:01.648077056
..        ...         ...                           ...
71    windows    0.116308 2019-12-15 14:55:01.648077056
72        xml    0.132923 2019-12-15 14:55:01.648077056
73  mapreduce    2.209853 2019-12-15 14:55:01.648077056
74        C++    0.332309 2019-12-15 14:55:01.648077056
75         C#    1.478774 2019-12-15 14:55:01.648077056

[76 rows x 3 columns]

In [43]:
total_resulty = total_resulty.set_index('Tech',drop=True)

In [ ]:
ldate = linkedin['date']
ldate = pd.to_datetime(ldate).values.astype(int)
ld = pd.to_datetime(ldate.mean())

In [ ]:
# idate = indeed['date']
# idate = pd.to_datetime(idate).values.astype(int)
# ida = pd.to_datetime(idate.mean())
# ild =

In [ ]:
resulty['Date'] = ld

In [ ]:
resulty = pd.DataFrame(Cdict, columns=['Tech','Percentage'])
resulty = resulty.set_index('Tech',drop=True)

In [ ]:
skills = st.selectbox('Skill Comparison: ', options=search_terms)


plz1 = functions.compare(skills, resulty)
plz2 = functions.compare(skills, total_resulty)
df_test1 = pd.DataFrame(plz1)
df_test2 = pd.DataFrame(plz2)
df_test3 = df_test1.subtract(df_test2, fill_value=0)
df_test3 = df_test3.reset_index()
df_test3['Date'] = ld
df_test3 = df_test3.rename(columns={'index':'Tech'})


if st.button('Search: ', key=2):
    st.dataframe(df_test3.style.highlight_max(axis=0))
#     st.write(alt.Chart(df_test3).mark_bar(size=15).encode(x='Date', y='Percentage', color='Percentage').configure_view(strokeWidth=0,height=400,width=300))

st.line_chart(df_test3)