In [1]:
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import terms 
import Cities 
import functions
import time
import plotly.figure_factory as ff
import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt

import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
from time import sleep, time
import lxml
import re
from urllib.parse import urljoin
import unicodedata
from collections import defaultdict, Counter
import WebScrape_Indeed
import WebScrape_LinkedIn
import streamlit as st 
import terms 
import Cities 
import functions

In [2]:
census = pd.read_csv('uscities.csv')
census.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500.0,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947.0,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441.0,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507.0,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840041959

In [3]:
census_brief = census[['city','state_id','lat','lng',]]

In [4]:
census_brief.head()

           city state_id      lat       lng
0   South Creek       WA  46.9994 -122.3921
1        Roslyn       WA  47.2507 -121.0989
2       Sprague       WA  47.3048 -117.9713
3    Gig Harbor       WA  47.3352 -122.5968
4  Lake Cassidy       WA  48.0639 -122.0920

In [2]:
search_terms = terms.total_terms

In [3]:
def clean(raw):
    raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
    return raw


def word_count(string):
    freq = defaultdict(int)
    List1 = [x.lower() for x in search_terms]
    List2 = [x.lower() for x in string]

    for item in List1:
        if item in List2:
            freq[item] = List2.count(item)
        else:
            freq[item] = 0 
    return freq

In [4]:
option = 'Software Engineer'

In [5]:
type(option)

str

In [6]:
dtotal = pd.read_csv('total_data.csv')
dtitle = dtotal[dtotal['title'].astype(str).str.contains(option)]

In [7]:
dtitle['description']

684     [      What Software Engineering contributes t...
742     [      What Software Engineering contributes t...
768     [      What Software Engineering contributes t...
807     [   Triplebyte is working with a company that ...
826     [      What Software Engineering contributes t...
                              ...
2381    [   We're eager to meet all types of engineers...
2490    [   Triplebyte is working with a company that ...
2555    [   Triplebyte is working with a company that ...
2589    [   Triplebyte is working with a company that ...
2621    [   Triplebyte is working with a company that ...
Name: description, Length: 888, dtype: object

In [8]:
dtotal = dtotal['description']
dtotal = clean(dtotal)
dtotal = word_count(dtotal)

ctotal = Counter(dtotal)
total = sum(ctotal.values())
Ctotaldict = [(i, ctotal[i] / total * 100.0) for i in ctotal]

total_result = pd.DataFrame(Ctotaldict, columns=['Tech','Percentage'])

total_results = total_result.nlargest(10, 'Percentage') 
# total_result_chart = total_result.sort_values('Percentage', ascending=False)
total_result_chart = total_results.set_index('Tech',drop=True)

In [13]:
len(total_result)

131

In [ ]:
df_new = df[['LanguageDesireNextYear',
       'DatabaseDesireNextYear', 
       'PlatformDesireNextYear', 
       'WebFrameDesireNextYear', 
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers']]

In [ ]:
df_new.head()

In [ ]:
d1 = df_new['LanguageDesireNextYear']
d2 = df_new['DatabaseDesireNextYear'] 
d3 = df_new['PlatformDesireNextYear'] 
d4 = df_new['WebFrameDesireNextYear'] 
d5 = df_new['MiscTechDesireNextYear'] 
d6 = df_new['DevEnviron']
d7 = df_new['OpSys']
d8 = df_new['Containers']

In [ ]:
d6.unique()

In [ ]:
d1 = d1.unique()
d2 = d2.unique()
d3 = d3.unique()
d4 = d4.unique()
d5 = d5.unique()
d6 = d6.unique()
d7 = d7.unique()

In [ ]:
d1 = str(d1)
d2 = str(d2)
d3 = str(d3)
d4 = str(d4)
d5 = str(d5)
d6 = str(d6)
d7 = str(d7)

In [ ]:
def clean(raw):
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
    return raw

In [ ]:
d1 = clean(d1)
d2 = clean(d2)
d3 = clean(d3)
d4 = clean(d4)
d5 = clean(d5)
d6 = clean(d6)
d7 = clean(d7)

In [ ]:
dtest = d1+d2+d3+d4+d5+d6+d7

In [ ]:
terms = set(dtest)

In [ ]:
terms = str(terms)

In [ ]:
terms

In [ ]:
total_terms = [
    "Python",
    "SQL",
    "R",
    "Spark",
    "Hadoop",
    "Java",
    "Tableau",
    "AWS",
    "SAS",
    "Hive",
    "Scala",
    "Excel",
    "TensorFlow",
    "C++",
    "Azure",
    "NoSQL",
    "Linux",
    "C",
    "Matlab",
    "Scikit-learn",
    "sklearn",
    "XGBoost",
    "NLP",
    "Pandas",
    "Git",
    "Keras",
    "Javascript",
    "Pig",
    "Hbase",
    "Google Cloud",
    "Docker",
    "NumPy",
    "PyTorch",
    "C#",
    "SPSS",
    "MySQL",
    "Perl",
    "Cassandra",
    "MongoDB",
    "GCP",
    "Kubernetes",
    "D3",
    "Databricks",
    "postgresql",
    "mapreduce",
    "Caffe",
    "Airflow",
    "Alteryx",
    "BigQuery",
    "Fastai",
    "WordPress", "Excel", "Photoshop", "Illustrator", "InDesign", "Acrobat", "Netsuite", "Salesforce", "SAP", "PowerPoint", "C#", "C++", "XML", "Perl", "PHP", "AJAX", "ASP.NET", "Project Management", "PMP", "Agile", "Scrum", "TextMate", "IBM", "Ansible", "Couchbase", "Arduino", "TensorFlow", "PyTorch", "BSD", "Watson", "NetBeans", "Cassandra", "Studio", "Xcode", "JavaScript", "Cloud", "React", "Jupyter", "MariaDB", "ASP", "Ruby", "Unity", "Xamarin", "Puppet", "Microsoft", "iOS", "Docker", "Rails", "Visual Studio", "Komodo", "SQLite", "IPython", "Sublime", "Pandas", "RubyMine", "Shell", "MacOS", "DynamoDB", "Android", "Spark", "AWS", "Windows", "Bash", "Torch", "PostgreSQL", "Oracle", "Spring", "PyCharm", "Raspberry", "Chef", "Laravel", "WebAssembly", "PHPStorm", "Flask", "Linux", "Platform", "Java", "Azure", "jQuery", "PowerShell", "Zend", "CSS", "Pi", "NET", "Hadoop", "HTML", "C", "Elixir", "Apache", "SQL", "MongoDB", "Python", "Vue", "Unreal Engine", "MySQL", "Drupal", "Objective C", "Django", "WordPress", "CryEngine", "IntelliJ", "Firebase", "Node", "Atom", "Swift", "Notepad", "Angular"]

In [ ]:
totals = set(total_terms)

In [ ]:
totals

In [ ]:
def clean(raw):
    raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
    return raw


def word_count(string):
    freq = defaultdict(int)
    List1 = [x.lower() for x in search_terms]
    List2 = [x.lower() for x in string]

    for item in List1:
        if item in List2:
            freq[item] = List2.count(item)
        else:
            freq[item] = 0 
    return freq

In [ ]:
data_li = hist_li['description']
data_li = clean(data_li)
test = word_count(data_li)

data_ind = hist_ind['description']
data_ind = clean(data_ind)
test2 = word_count(data_ind)

c = Counter(test) + Counter(test2) 
total = sum(c.values())
Cdict = [(i, c[i] / total * 100.0) for i in c]

result = pd.DataFrame(Cdict, columns=['Tech','Percentage'])

result_chart = result.set_index('Tech',drop=True)

In [ ]:
# result_chart.to_csv('/users/dmauger/Flatiron/FinalProject/' + 'historic_data.csv', encoding='utf-8', index=True)

In [ ]:
# df = pd.read_csv('historic_data.csv', index_col='Tech')
# df.head()

In [ ]:
# import os
# import logging
# import pandas
# from datetime import datetime 
# from google.cloud import storage
# from google_pandas_load import Loader, LoaderQuickSetup
# from google_pandas_load import LoadConfig
# import pandas as pd

In [ ]:
# os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/users/dmauger/Flatiron/FinalProject/WebScraping-676f89d97ac9.json"

In [ ]:
# project_id = 'webscraping-261119'
# dataset_id = 'webscraping-261119:Web_Scraping'
# bucket_name = 'web_scrape_data'
# # gs_dir_path is the path in
# # the bucket of the directory that
# # will contain the data in Storage.
# gs_dir_path = None
# local_dir_path = '/users/dmauger/Flatiron/FinalProject/'

In [ ]:
# if not os.path.isdir(local_dir_path):
#     os.makedirs(local_dir_path)

In [ ]:
# gpl = LoaderQuickSetup(
#     project_id=project_id,
#     dataset_id=dataset_id,
#     bucket_name=bucket_name,
#     gs_dir_path=gs_dir_path,
#     credentials=None,
#     local_dir_path=local_dir_path)

In [ ]:
# Final Project

In [ ]:
ind_cities = Cities.ind_cities
li_cities = Cities.li_cities
search_terms = terms.total_terms

def clean(raw):
    raw = ' '.join(raw.tolist())
    for char in '-.,\n':
        raw = raw.replace(char,' ')
    
    pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
    raw = nltk.regexp_tokenize(raw, pattern)
    return raw


def word_count(string):
    freq = defaultdict(int)
    List1 = [x.lower() for x in search_terms]
    List2 = [x.lower() for x in string]

    for item in List1:
        if item in List2:
            freq[item] = List2.count(item)
        else:
            freq[item] = 0 
    return freq

In [ ]:
https://www.linkedin.com/jobs/search?keywords=Data%20Scientist&location=Georgia%2C%20&trk=guest_job_search_jobs-search-bar_search-submit&redirect=false&position=1&pageNum=0&f_TP=1%2C2"

In [ ]:
ind_url = []
li_url = []
for i in ind_cities:
    ind = "https://www.indeed.com/jobs?q=title%3A(%22data+scientist%22+OR+%22data+science%22+OR+%22data+analyst%22)&l="+i+"&radius=50&sort=date" 
    ind_url.append(ind)       

for i in li_cities:
    li = "https://www.linkedin.com/jobs/search?keywords=Data%20Scientist&location="+i+"&trk=guest_job_search_jobs-search-bar_search-submit&redirect=false&position=1&pageNum=0&f_TP=1%2C2"
    li_url.append(li)


for x in ind_url:
    indeed = WebScrape_Indeed.extract_title(x)
    

for x in li_url:
    linkedin = WebScrape_Indeed.extract_title(x)

     

data_li = linkedin['description']
data_li = clean(data_li)
test = word_count(data_li)

data_ind = indeed['description']
data_ind = clean(data_ind)
test2 = word_count(data_ind)

In [ ]:
c = Counter(test) + Counter(test2) 
total = sum(c.values())
Cdict = [(i, c[i] / total * 100.0) for i in c]

result = pd.DataFrame(Cdict, columns=['Tech','Percentage'])

result_chart = result.set_index('Tech',drop=True)
result_chart